
.wrap{
    text-align:center;
}
.title{
    text-align:center;
}

.word{
    font-size:2rem;
    width:150px;
    height:30px;
}
.input{
    width:250px;
    height:30px;
    border:1px solid #fccb8a;
    border-radius:0.25rem;
    padding:1rem 0.75rem;
    font-size: 1rem;
}

.btn{
    width:280px;
    height:60px;
    color:white;
    font-weight:bold;
    background:#fccb8a;
    padding:0.375rem 0.75rem;
    border:1px solid #fccb8a;
    border-radius:0.25rem;
    font-size:1.5rem;
    line-height:1.5;
}
