@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  font-family: "Pretendard-Regular";

  color: light-dark(black, white);
  color: light-dark(white, black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.my-custom-bg-class {
  background-image: url("./assets/2.png");
}

.my-custom-bg-class2 {
  background-image: url("./assets/2.png");
}

.text-stroke {
  text-shadow: -1px -1px 0 #f5aa15, 1px -1px 0 #f5aa15, -1px 1px 0 #f5aa15,
    1px 1px 0 #f5aa15;
}

.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 2px;
  width: 10rem;
  border-radius: 100%;
  padding: 0;
}

@media (max-width: 1413px) {
  .dots_custom li button {
    border: none;
    background: #d1d1d1;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 2px;
    width: 8rem;
    border-radius: 100%;
    padding: 0;
  }
}

@media (max-width: 1279px) {
  .dots_custom li button {
    border: none;
    background: #d1d1d1;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 2px;
    width: 7rem;
    border-radius: 100%;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .dots_custom li button {
    border: none;
    background: #d1d1d1;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 2px;
    width: 5rem;
    border-radius: 100%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .dots_custom li button {
    border: none;
    background: #d1d1d1;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 2px;
    width: 4rem;
    border-radius: 100%;
    padding: 0;
  }
}

.dots_custom li.slick-active button {
  background-color: #282828;
}
